@import "../../../styles/mixins";

@include container;

.content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.album {
  width: 15vw;
  height: 30vh;
  background-color: greenyellow;
  display: grid;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-radius: 5%;

  span {
    display: none;
    margin-top: 15%;
    p {
      font-size: 1vw;
    }

    #name {
      font-size: large;
    }
  }

  img {
    display: none;
    margin: 0 auto;
  }
}

.album:hover {
  background-color: black;

  span {
    max-width: 80%;
    display: block;
    margin: 0 auto;
    font-size: medium;
  }

  img {
    display: block;
  }
}