<div class="container">
  <a [routerLink]="[ '/style/rock' ]">
    <div class="m_st" id="rock">Rock</div>
  </a>
  <a [routerLink]="[ '/style/electro' ]">
    <div class="m_st" id="electro">Electro</div>
  </a>
  <a [routerLink]="[ '/style/hip-hop' ]">
    <div class="m_st" id="hip_hop">Hip-Hop</div>
  </a>
  <a [routerLink]="[ '/style/pop' ]">
    <div class="m_st" id="pop">Pop</div>
  </a>
  <a [routerLink]="[ '/style/r-b' ]">
    <div class="m_st" id="r_b">R&B</div>
  </a>
  <a [routerLink]="[ '/style/indie' ]">
    <div class="m_st" id="indie">Indie</div>
  </a>
</div>
