.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;

  .home {
    width: 75%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  a {
    text-decoration: none;
    margin: 0;
  }

  .m_st {
    width: 20vw;
    height: 30vh;
    text-align: center;
    color: #fff;
    font-size: x-large;
    font-weight: 600;
    cursor: pointer;
    border-radius: 2vw;
    line-height: 30vh;
  }

  #rock {
    background-color: red;
  }

  #electro {
    background-color: mediumturquoise;
  }

  #hip_hop {
    background-color: orange;
  }

  #pop {
    background-color: palegreen;
  }

  #r_b {
    background-color: plum;
  }

  #indie {
    background-color: rebeccapurple;
  }
}

.m_st:hover {
  opacity: 0.6;
}